@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "pretendard", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1a1a1a;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.35;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
